@import url('https://fonts.googleapis.com/css?family=Teko:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    background-color: azure;
    color: white;
}

/*------------ Device ------------*/

#game-unit {
    background-color: grey;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    border: solid;
    border-width: 25px;
    border-color: black;
    margin-top: 30px;
    margin-left: 150px;
    position: relative;
}

#inner-interface {
    background-color: darkslategrey;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: solid;
    border-width: 10px;
    border-color: black;
    margin-top: 20%;
    margin-left: 20%;
    position: center;
}

.logo {
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 50px;
    color: white;
}

/*------------ Buttons ------------*/

#red-button {
    background-color: red;
}

#blue-button {
    background-color: blue;
} 

#yellow-button {
    background-color: yellow;
} 

#green-button {
    background-color: green;
}

