@import url('https://fonts.googleapis.com/css?family=Teko:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Orbitron:100,200,300,400,500,600,700');

body {
    background-image: url(../images/charcoal-boxes.jpg);
    height: auto;
    width: auto;
    background-repeat: repeat;
    color: #ffffff;
}

.container {
    background: transparent;
}

.row {
    margin: auto;
}

/*------------ Device ------------*/

#game-unit {
    background-color: #000000;
    height: 90vh;
    width: 90vh;
    border-radius: 50%;
    border: double;
    border-width: 3px;
    border-color: #585858;
    margin: auto;
    margin-top: 5vh;
    -webkit-box-shadow: 7px 7px 35px 0px #111111;
    -moz-box-shadow: 7px 7px 35px 0px #111111;
    box-shadow: 7px 7px 35px 0px #111111;
    position: relative;
}

#inner-interface {
    background-color: #000000;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    margin: auto;
    margin-top: 21%;
    align-self: center;
    position: relative;
}

.logo {
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-size: 22vh;
    height: 28vh;
    display: block;
    text-align: center;
    padding-top: 3vh;
    margin: auto;
    color: #ffffff;
}

.start {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 3vh;
    display: inline-block;
    margin-left: 12vh;
    width: 7vh;
    text-align: center;
    color: #ffffff;
}

#start-button {
    background-color: #1d1d1d;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    outline: none;
    border: solid;
    border-width: .75vh;
    border-color: #585858;
    display: inline-block;
    margin-top: 2vh;
    margin-left: 12vh;
  }

.counter {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 3vh;
    display: inline-block;
    margin-left: 8vh;
    width: 7vh;
    text-align: center;
    color: #ffffff;
}

#round-counter {
    font-family: "Orbitron", sans-serif;
    font-size: 4vh;
    height: 7vh;
    width: 10vh;
    display: inline-block;
    background: #1d1d1d;
    color: #cf0000;
    border: solid;
    border-width: .5vh;
    border-color: #585858;
    margin-left: 8vh;
    margin-top: 2vh;
    text-align: center;
    vertical-align: top;
  }

/*------------ Buttons ------------*/

#red-button {
    background-color: darkred;
    height: 43vh;
    width: 43vh;
    border-radius: 0 50vh 0 0;
    border-style: solid;
    border-width: 8px;
    border-color: #000000;
    top: 2%;
    left: 50%;
    margin: -0px 0px 0px 0px;
    position: absolute;
}

#blue-button {
    background-color: darkblue;
    height: 43vh;
    width: 43vh;
    border-radius: 0 0 50vh 0;
    border-style: solid;
    border-width: 8px;
    border-color: #000000;
    top: 50%;
    left: 50%;
    margin: 0px 0px 0px 0px;
    position: absolute;
} 

#yellow-button {
    background-color: goldenrod;
    height: 43vh;
    width: 43vh;
    border-radius: 0 0 0 50vh;
    border-style: solid;
    border-width: 8px;
    border-color: #000000;
    top: 50%;
    left: 2%;
    margin: 0px 0px 0px 0px;
    position: absolute;
} 

#green-button {
    background-color: darkgreen;
    height: 43vh;
    width: 43vh;
    border-radius: 50vh 0 0 0;
    border-style: solid;
    border-width: 8px;
    border-color: #000000;
    top: 2%;
    left: 2%;
    margin: 0px 0px 0px 0px;
    position: absolute;
}

